body {
  font-family: 'Contrail One', cursive;
  background: #FFC300;
}

.loginform {
  margin-top: 10%;
  /*margen superior*/
  margin-left: auto;
  /*margen izquierdo*/
  margin-right: auto;
  /*margen derecho*/
  width: 60%;  
  /*ancho*/
}

.centrar {
  margin-right:auto;
  display:inline-block;
   text-align:center; 
}

.btnForm {
  width: 49%;
  font-size: 20px;
  margin-top: 25%;
}

.logo {
  width: 200px;
  height: 140px;
  
}

.inputText {
  width: 99%;
}





